/* Para que los mat-selects se puedan abrir en modales*/

.cdk-overlay-container {
    z-index: 2001 !important;
}


/* Para que el dropzone tenga un archivo alineado al centro*/

ngx-dropzone-preview {
    min-width: 80% !important;
    max-width: 80% !important;
    width: 80% !important;
    padding: 0 20px !important;
    margin: 10% !important;
}


/* Para mostrar los iconos alineados con el texto. De lo contrario el icono sale un poco por debajo del texto*/

.material-icons {
    line-height: 1.3rem !important;
}

.alert {
    z-index: 4000 !important;
}

.alert-error {
    background-color: rgba(120, 0, 0) !important;
    color: #ffffff !important;
}

.alert_error>span {
    color: #ffffff !important;
}

.alert_error>button {
    color: #ffffff !important;
}

.alert.alert-error a,
.alert.alert-error .alert-link {
    color: #ffffff;
}

.mat-expansion-indicator::after {
    color: white !important;
}

.mat-expansion-indicator::before {
    color: white !important;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.animacionOpacidad {
    -webkit-animation: fadein 1s ease-in alternate infinite;
    -moz-animation: fadein 1s ease-in alternate infinite;
    animation: fadein 1s ease-in alternate infinite;
}

.item-value {
    margin-top: 0 !important;
}