/* You can add global styles to this file, and also import other style files */
.cdk-overlay-container {
    z-index: 2001 !important;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.alert-error{
    background-color: rgba(120, 0, 0) !important;
    color: #ffffff !important;
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.animacionOpacidad {
    -webkit-animation: fadein 1s ease-in alternate infinite;
    -moz-animation: fadein 1s ease-in alternate infinite;
    animation: fadein 1s ease-in alternate infinite;
}

