// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #01224E !default;
$brand-primary-dark:         #021733 !default;

$brand-info:                 #044866 !default;
$brand-info-dark:            #03364d !default;

$brand-success:              #04585C !default;
$brand-success-dark:         #034042 !default;

$brand-warning:              #041566 !default;
$brand-warning-dark:         #03114d !default;

$brand-danger:               #01224E !default;
$brand-danger-dark:          #021733 !default;

$brand-rose:                 #01347B !default;
$brand-rose-dark:            #012b61 !default;

$brand-inverse:              #3C4858 !default;
$brand-inverse-dark:         #2a323d !default;

